@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* fonts */
@font-face {
    font-family: poppins;
    src: url(./fonts/poppins/Poppins-Black.ttf);
    font-weight: 900;
}
@font-face {
    font-family: poppins;
    src: url(./fonts/poppins/Poppins-BlackItalic.ttf);
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: poppins;
    src: url(./fonts/poppins/Poppins-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: poppins;
    src: url(./fonts/poppins/Poppins-ExtraBoldItalic.ttf);
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: poppins;
    src: url(./fonts/poppins/Poppins-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: poppins;
    src: url(./fonts/poppins/Poppins-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: poppins;
    src: url(./fonts/poppins/Poppins-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: poppins;
    src: url(./fonts/poppins/Poppins-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: poppins;
    src: url(./fonts/poppins/Poppins-Regular.ttf);
    font-weight: 500;
}
@font-face {
    font-family: poppins;
    src: url(./fonts/poppins/Poppins-Italic.ttf);
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: poppins;
    src: url(./fonts/poppins/Poppins-Medium.ttf);
    font-weight: 400;
}
@font-face {
    font-family: poppins;
    src: url(./fonts/poppins/Poppins-MediumItalic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: poppins;
    src: url(./fonts/poppins/Poppins-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: poppins;
    src: url(./fonts/poppins/Poppins-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: poppins;
    src: url(./fonts/poppins/Poppins-ExtraLight.ttf);
    font-weight: 200;
}
@font-face {
    font-family: poppins;
    src: url(./fonts/poppins/Poppins-ExtraLightItalic.ttf);
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: poppins;
    src: url(./fonts/poppins/Poppins-Thin.ttf);
    font-weight: 100;
}
@font-face {
    font-family: poppins;
    src: url(./fonts/poppins/Poppins-ThinItalic.ttf);
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Berlin sans FB';
    src: url(./fonts/berlin/BRLNSR.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Berlin sans FB';
    src: url(./fonts/berlin/BRLNSB.ttf);
    font-weight: 700;
}

/* styling elements */
.halalTabs .z-10.absolute.rounded-md.shadow{
    background:#9dbc98;
    z-index:-1;
}